/* Add CSS Styling */
.odd-number {
    background-color: rgb(255, 120, 120);
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

.change-font-size {
    font-size: 24px;
}

#second-element {
    color: #1504cf;
    font-size: 36px;
}

#fourth-element {
    background-color: hsl(150, 64%, 56%);
    font-weight: bold;
}